<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Business Company</key>
	<string>NARTSONS</string>
	<key>First Name</key>
	<string>Anyinatoe</string>
	<key>Initials</key>
	<string></string>
	<key>Last Name</key>
	<string>Emmanuel</string>
	<key>Name</key>
	<string>Anyinatoe Emmanuel</string>
</dict>
</plist>
